@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
#navbar_RP{
    border: px solid blue;
    margin-bottom: 10px;
   display: flex;
   justify-content: space-evenly;
   /* background-color: #f8f9fa; */
}
#navbarSupportedContent{
    border: px solid blueviolet;
    width: 1400px;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
}
#logo{
    border: px solid pink;
    width: 120px;
    height: 50px;
    margin-right: 30px;
    margin-right: 20px;
}
.navbar ul li a {
    color: black !important;
    font-family: 'Poppins', sans-serif;
}

.navbar ul li a:hover {
    color: goldenrod !important;
}

#searchQueryContainer {
    padding: 5px 10px;
    border: px solid green;
    background-color: #ecedeb;
    
}

#query {
    padding: 5px;
    border: none;
    background-color: #ecedeb;
    width: 200px;
}

.dropbtn {}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: goldenrod !important;
}
/* footer */
#footerContainer{
display: grid;
grid-template-columns: repeat(5,1fr);
grid-template-rows: auto;
gap: 20px;
}

.fitems{
    padding: 25px;
}
.fitems a:hover{
    cursor: pointer;
}

/* middle Section */
#middleSection{
    display: flex;
    flex-direction: row;

}
.middleSectionItems{
    margin: 10px;
    width: 20%;
    border: 0px solid pink;
    text-align: center;
    height: 400px;
}
.btn1{
    margin-top: 300px;
    width: 80%;
    padding: 10px;
    color: goldenrod;
    border: none;
}
#msi1{
    background-image: url(Images/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#msi2{
    background-image: url(Images/img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#msi3{
    background-image: url(Images/img3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#msi4{
    background-image: url(Images/img4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#msi5{
    background-image: url(Images/img5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}